body{

margin:0;
background:black;
color:white;
font-family:'Segoe UI';
text-align:center;
overflow-x:hidden;

}

canvas{

position:fixed;
top:0;
left:0;
z-index:0;

}

.contenedor{

position:relative;
z-index:2;

max-width:800px;
margin:auto;
margin-top:80px;

background:rgba(255,255,255,0.08);
padding:40px;

border-radius:20px;

backdrop-filter:blur(12px);

box-shadow:0 0 40px rgba(255,100,150,0.4);

}

button{

background:#ff4d6d;
border:none;
padding:12px 25px;
border-radius:30px;
color:white;
cursor:pointer;
margin-top:15px;

}

button:hover{

background:#ff2d55;

}

input{

padding:10px;
border-radius:20px;
border:none;
text-align:center;

}

.capitulo{

background:rgba(255,255,255,0.05);
padding:15px;
margin:10px;
border-radius:10px;

}

.recuerdo{

background:rgba(255,255,255,0.05);
padding:15px;
margin:10px;
border-radius:10px;

}

.corazon{

position:fixed;
color:#ff6b81;
animation:flotar 8s linear infinite;

}

@keyframes flotar{

0%{transform:translateY(0)}
100%{transform:translateY(-100vh)}

}

.acordeon-item{

margin:10px 0;
border-radius:10px;
overflow:hidden;
background:rgba(255,255,255,0.05);

}

.acordeon-titulo{

padding:15px;
cursor:pointer;
font-weight:bold;
background:rgba(255,255,255,0.08);
transition:0.3s;

}

.acordeon-titulo:hover{

background:rgba(255,255,255,0.15);

}

.acordeon-contenido{

padding:0 15px;
max-height:0;
overflow:hidden;
transition:max-height 0.4s ease;
line-height:1.6;

}

/* acordeon principal */

.acordeon-principal{

margin-top:20px;
border-radius:12px;
overflow:hidden;

}

.acordeon-principal-titulo{

padding:18px;
font-size:20px;
font-weight:bold;

background:rgba(255,255,255,0.12);
cursor:pointer;

transition:0.3s;

}

.acordeon-principal-titulo:hover{

background:rgba(255,255,255,0.18);

}

.acordeon-principal-contenido{

max-height:0;
overflow:hidden;

transition:max-height 0.5s ease;

}


/* recuerdos internos */

.acordeon-item{

margin:10px;
border-radius:10px;
background:rgba(255,255,255,0.05);
overflow:hidden;

}

.acordeon-titulo{

padding:12px;
cursor:pointer;
font-weight:bold;

}

.acordeon-contenido{

padding:0 15px;

max-height:0;
overflow:hidden;

transition:max-height 0.4s ease;

line-height:1.6;

}